* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
    padding: 0;
}

header {

    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1rem;
    
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-container h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 1.6rem;
    pointer-events: none;
    user-select: none;
}

.logo-container img {
    max-width: 100px;
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    
}

.hero {
    width: 100%;
    height: 60vh; 
    position: relative;
}

.background-container {
    width: 100%;
    height: 100%;
    background-image: url('./data/imgProducts/Hero1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    user-select: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.5); 
    
}

.overlay h2 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    animation: pulse;
    animation-duration: 2s;
    /* user-select: none;
    pointer-events: none;
    -webkit-animation: pulse; 
    esto me impedía la animación*/
}

.overlay p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 500;
    user-select: none;
    pointer-events: none;
}



.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding: 2rem;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3rem;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.about h4 {
    font-size: 1.5rem;
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
}



.cardsServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;

}

.cardsServices a {
    text-decoration: none;
    color: #333;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 240px;
    height: 200px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: white;
    transform: scale(1.05);

}

.card img {
    width: 100px;
    border-radius: 10px;
    padding: 0.5rem;
    pointer-events: none;
    user-select: none;
}

.onlineBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: auto;
}
.containerBuyOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.containerBuyOnline h3 {
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.containerBuyOnline  img {
    width: 800px;
    border-radius: 10px;
    padding: 0.5rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    pointer-events: none;
    user-select: none;
}













.products {
    padding: 2rem;
}


#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
}

.contactFormulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: flex-start;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;
}

.contactFormulario h1 {
    margin-left: 2rem;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}   

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;   
    max-width: 800px;
}

#contact-form input {
    width: 350px; 
    border-radius: 10px;
    padding: 0.5rem;
}

#contact-form textarea {
    width: 350px; 
    height: 200px;
    border-radius: 10px;
    padding: 0.5rem;
    resize: none;
    font-family: 'Inter', sans-serif;

}

#contact-form button {
    padding: 0.5rem 1rem;
    border-radius: 10px;

}

#contact-form button:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    font-weight: 900;
    transform: scale(1.05);

}

.contactImg img {
    max-width: 600px;
    border-radius: 15px;
}


footer {
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    width: 100%;
    bottom: 0;
    color: white;
}


.heroPages {
    width: 100%;
    height: 50vh; 
    position: relative;
}

.background-containerPages {
    width: 100%;
    height: 100%;
    background-image: url('./data/imgProducts/Hero2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.overlayPages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.5); 
    
}

.overlayPages h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    animation: bounce;
    animation-duration: 2s;
    -webkit-animation: bounce;
    user-select: none;
    pointer-events: none;
}

.overlayPages p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 500;
    user-select: none;
    pointer-events: none;
}


.products {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    
}

.products a {
    text-decoration: none;
    color: #333;
}


.containerProducts , .containerProductsOff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.productCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.productCard:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.productCard img {
    max-width: 100%;
    height: auto;
}

.productCard h3 {
    font-size: 18px;
    margin: 8px 0;
}

.productCard p {
    font-size: 16px;
    margin: 4px 0;
}

.quantityInput {
    width: 60px;
    margin: 8px 0;
    padding: 4px; 
}

.btnComprarProduct {
    background-color: #28a745;
    /*background-color: #f09819;
    */color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
}

.btnComprarProduct:hover {
    background-color: #218838;
}




.btnComprarProductOff {
    background-color: #28a745;
    /*background-color: #f09819;
    */color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
}


.cardOff {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: flex-start;
    gap: 0.5rem;
    padding: 1rem 1rem;
    width: 320px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease, color 0.3s ease;
}

.cardOff:hover {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.6);
    color: black;
    transform: scale(1.05);

}

.cardOff img {
    width: 130px;
    border-radius: 10px;
    padding: 0.5rem;
    pointer-events: none;
    user-select: none;
}